:root {
    --clr-title: rgb(245, 245, 245);
    --clr-subtitle: rgba(245, 245, 245, .7);
    --clr-text: rgba(245, 245, 245, .8);

    --fs-xx-large: 2rem;
    --fs-normal: .9rem; 
    --fs-small: .8rem;

    --ff-normal: 'Inter', sans-serif;

    /* --clr-bg: #000f1a; */
    --clr-primary: #64CCC5;
    --clr-secondary: #176B87;
    --clr-accent: #DAFFFB;

    --clr-primary-rgb: 100, 204, 197;

    --clr-border-subtle: rgba(245, 245, 245, .1);

}


*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color-scheme: dark;
    font-family: var(--ff-normal);
}